body{
    background: #1E1E1E;
  }
  h1{
    position: absolute;
    width: 378px;
    height: 29px;
    left: 50px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 29px;
    color: #FFFFFF;
  }
#prof{
    position: absolute;
width: 172px;
height: 28px;
left: 50px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 29px;
color: #FFFFFF;
position: absolute;
left: 25%;
right: 25%;
top: 37.5%;

bottom: 37.5%;
border: 2px solid #FFFFFF;
box-sizing: border-box;
position: absolute;
width: 196px;
height: 58px;
left: 50px;
top: 120px;

border: 1px;
background: #1E1E1E;
border: 1px solid #FFFFFF;
}

#r1{
    box-sizing: border-box;

position: absolute;
width: 536px;
height: 59px;
left: 50px;
top: 200px;
border: 1px solid #FFFFFF;
border-radius: 10px;
background: #1E1E1E;
}

#r2{
    box-sizing: border-box;
position: absolute;
width: 536px;
height: 59px;
left: 50px;
top: 285px;
border: 1px solid #FFFFFF;
border-radius: 10px;
background: #1E1E1E;
}

#r3{
    box-sizing: border-box;
position: absolute;
width: 536px;
height: 59px;
left: 50px;
top: 370px;

border: 1px solid #FFFFFF;
border-radius: 10px;
background: #1E1E1E;
}

#r1p1{
    position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;

}

#r1p2{
  position: absolute;
width: 119px;
height: 20px;
left: 65px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}

#r1p3{
  position: absolute;
width: 300px;
height: 20px;
left: 215px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}

#r1p4{
  position: absolute;
width: 119px;
height: 20px;
left: 450px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}



#r2p1{
  position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;

}

#r2p2{
position: absolute;
width: 119px;
height: 20px;
left: 65px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}

#r2p3{
position: absolute;
width: 300px;
height: 20px;
left: 215px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}

#r2p4{
position: absolute;
width: 119px;
height: 20px;
left: 450px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}


#r3p1{
  position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;

}

#r3p2{
position: absolute;
width: 180px;
height: 20px;
left: 65px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;

color: #FFFFFF;
}

#r3p3{
position: absolute;
width: 300px;
height: 20px;
left: 215px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}

#r3p4{
position: absolute;
width: 119px;
height: 20px;
left: 450px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}

#b1{
  position: absolute;
width: 226px;
height: 58px;
left: 58px;
top: 583px;
background: #FFFFFF;
position: absolute;
width: 230px;
height: 60px;
left: 50px;
top: 470px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
}

#addnew{
  position: absolute;
  width: 175px;
  height: 29px;
  left: 50px;
  top: 570px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

#enm{
  position: absolute;
  width: 119px;
  height: 25px;
  left: 50px;
  top: 650px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 22px;
  color: #FFFFFF;
}

#inm{
box-sizing: border-box;
position: absolute;
width: 450px;
height: 56px;
left: 50px;
top: 700px;
border: 1px solid #FFFFFF;
border-radius: 5px;
background: #1E1E1E;
}

#ep{
  position: absolute;
  width: 200px;
  height: 25px;
  left: 550px;
  top: 650px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 22px;
  color: #FFFFFF;
}

#ip{
  box-sizing: border-box;

  position: absolute;
  width: 450px;
  height: 56px;
  left: 550px;
  top: 700px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: #1E1E1E;
}

#ea{
  position: absolute;
  width: 119px;
  height: 25px;
  left: 1050px;
  top: 650px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 22px;
  color: #FFFFFF;
}

#ia{
  box-sizing: border-box;
  position: absolute;
  width: 450px;
  height: 56px;
  left: 1050px;
  top: 700px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: #1E1E1E;
}

#b2{
  position: absolute;
width: 226px;
height: 58px;
left: 58px;
top: 983px;

background: #FFFFFF;
position: absolute;
width: 230px;
height: 60px;
left: 50px;
top: 800px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;

}
